@import 'styleguide';
$eggtimer-height: 40px;
$tick-width: 8px;

.eggtimer-wrapper {
  height: $eggtimer-height;
  width: 100%;
  overflow: hidden;
  line-height: $eggtimer-height;

  .timeline {
    height: $eggtimer-height;
    text-align: center;
    color: $inactive;

    .segment-text {
      display: inline-block;
      width: $tick-width * 4 + 4*4; /* figure this out */
    }

    .timeline-segment {
      width: $tick-width;
      text-align: center;
      display: inline-block;
      position: relative;

      .timeline-major {
        font-size: 20px;
      }
    }
  }
}
