@import 'styleguide';

svg#barchart {
  .axis path,
  .axis line {
    fill: none;
    stroke: $inactive;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
  }

  .x.axis path {
    display: none;
  }

  text {
    fill: $offblack;
  }
}

#barchart_filter {
  width: 100%;
  text-align: center;
  font-size: 1.1em;

  a {
    color: $inactive;

    &.active {
      color: inherit;
    }
  }
}
