svg#heatmapgraph {
  path.foot {
    fill: none;
    stroke: #333333;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
}

// janking this shit together
#colorscale {
  position: absolute;
  top: 200px;
  right: 0;
}
