<template name="heatmap">
  <header>
    <h1>
      <a class="back" href="{{pathFor route='landing'}}">&lt;</a>
      <a>Heatmap</a> | <a class="inactive" href="{{pathFor route='balance'}}">Balance</a>
    </h1>
  </header>

  {{>eggtimer}}
  {{>heatmapgraph}}
</template>

<template name="balance">
  <header>
    <h1>
      <a class="back" href="{{pathFor route='landing'}}">&lt;</a>
      <a class="inactive" href="{{pathFor route='heatmap'}}">Heatmap</a> | <a>Balance</a>
    </h1>
  </header>
</template>

<template name="heatmapgraph">
  <svg id="heatmapgraph"><!-- what if we need multiple barcharts on one page --></svg>
</template>

<template name="eggtimer">
  <div class="eggtimer-wrapper">
    <div class="timeline">
      {{#each mark in marks}}
        <div class="segment-text">{{mark}}</div>
      {{/each}}
      <br>
      {{#each mark in marks}}
        <div class="timeline-segment">
          <div class="timeline-major">|</div>
        </div>
        <div class="timeline-segment">
          <div class="timeline-minor">|</div>
        </div>
        <div class="timeline-segment">
          <div class="timeline-minor">|</div>
        </div>
        <div class="timeline-segment">
          <div class="timeline-minor">|</div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
