<template name="heatmap">
  <header>
    <h1>
      <a class="back" href="{{pathFor route='landing'}}">&lt;</a>
      <a>Heatmap</a> | <a class="inactive" href="{{pathFor route='balance'}}">Balance</a>
    </h1>
  </header>

  {{>eggtimer}}
  {{>heatmapgraph}}
</template>

<template name="balance">
  <header>
    <h1>
      <a class="back" href="{{pathFor route='landing'}}">&lt;</a>
      <a class="inactive" href="{{pathFor route='heatmap'}}">Heatmap</a> | <a>Balance</a>
    </h1>
  </header>
</template>

<template name="heatmapgraph">
  <svg id="heatmapgraph">
    <path class="foot" d="M219.6,29.3c0,0,59.7-7,64.9,74.6c4.7,72.9-47.8,106.8-25.4,164c24.7,63,14.1,96-12.2,101.4
    	c0,0-50.1,16.7-62.9-58.7c-12.8-75.4-33.7-146.2-22.7-210.8S202.3,31.6,219.6,29.3z"/>
    <path class="foot" d="M437.3,99.8c11,64.6-9.9,135.4-22.7,210.8c-12.8,75.4-62.9,58.7-62.9,58.7c-26.3-5.4-36.9-38.4-12.2-101.4
    	c22.4-57.2-30.1-91.1-25.4-164c5.2-81.6,64.9-74.6,64.9-74.6C396.3,31.6,426.3,35.2,437.3,99.8z"/>
  </svg>
</template>

<template name="eggtimer">
  <div class="eggtimer-container">
    <div class="eggtimer-wrapper">
      <div class="timeline">
        {{#each mark in marks}}
          <div class="segment-text">{{mark}}</div>
        {{/each}}
        <br>
        {{#each mark in marks}}
          <div class="timeline-segment">
            <div class="timeline-major">|</div>
          </div>
          <div class="timeline-segment">
            <div class="timeline-minor">|</div>
          </div>
          <div class="timeline-segment">
            <div class="timeline-minor">|</div>
          </div>
          <div class="timeline-segment">
            <div class="timeline-minor">|</div>
          </div>
        {{/each}}
      </div>
      <div class="eggtimer-indicator"></div>
    </div>
  </div>
</template>
