<template name="main">
  {{> navigation}}
  <div class="wrapper">
    <div class="container">
      {{> yield}}

      <footer>
      </footer>

    </div>
  </div>
</template>

<template name="navigation">
  <nav>
    <ul>
      <li class="{{isActiveRoute regex='heatmap|balance'}}"><a href="{{pathFor route='heatmap'}}">Heatmap</a></li>
      <li class="{{isActivePath regex='graphs|graphs\\/day|graphs\\/week|graphs\\/month'}}"><a href="{{pathFor route='graphs'}}">Graphs</a></li>
      <li><a>Share</a></li>
      <li class="{{isActiveRoute 'settings'}}"><a href="{{pathFor route='settings'}}">Settings</a></li>
    </ul>
  </nav>
</template>

<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
