<template name="settings">
  <header>
    <h1><a class="back" href="{{pathFor route='landing'}}">&lt;</a> Settings</h1>
  </header>
  <ul>
    <li><a href="{{pathFor route='landing'}}">About</a></li>
    <li><ul><h2>Pairing</h2>
      <li>Device info</li>
    </ul></li>
    <li><ul><h2>Backup</h2>
      <li>Save to Google Drive</li>
    </ul></li>
  </ul>

  <form class="new-task">
    <input type="text" name="text" placeholder="Type to add new data readings"/>
    <input type="number" name="data1" placeholder="1"/>
    <input type="number" name="data2" placeholder="2"/>
    <input type="number" name="data3" placeholder="3"/>
    <input type="number" name="data4" placeholder="4"/>
    <input type="number" name="data5" placeholder="5"/>
    <input type="number" name="data6" placeholder="6"/>
  </form>

  <ul>
    <!-- {{#each tasks}}
      {{> task}}
    {{/each}} -->
    {{#each mockdata}}
      {{>mockdataentry}}
    {{/each}}
  </ul>
</template>

<template name="task">
  <li class="item {{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>

    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

    <span class="text">{{text}}</span>
  </li>
</template>

<template name="mockdataentry">
  <li class="item {{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>
    {{timestamp}} {{data1}} {{data2}} {{data3}} {{data4}} {{data5}} {{data6}}
  </li>
</template>
