<template name="share">
  <header>
    <h1>
      <a>Doctor</a> | <a class="inactive" href="{{pathFor route='therapist'}}">Therapist</a>
    </h1>
  </header>

  <div class="info-container">
    <div class="info-profile">
      <img src="/i/doctor.jpg">
    </div>
    <div class="info-text">
      <b>Status:</b> online 3 hours ago
    </div>
  </div>
  <br>
  <div class="message-container">
    <div class="message-holder">
      {{#each messages}}
        {{>message}}
      {{/each}}
    </div>
    <div class="message-input">
      <input class="message-text" type="text" placeholder="Send a message"/>
      <div class="send-button">Send</div>
    </div>
  </div>
</template>

<template name="message">
  <div class="message {{#if who}}message-other{{else}}message-own{{/if}}">
    {{msg}}
  </div>
</template>

<template name="therapist">
  <header>
    <h1>
      <a class="inactive" href="{{pathFor route='share'}}">Doctor</a> | <a>Therapist</a>
    </h1>
  </header>

  <div class="info-container">
    <div class="info-profile">
      <img src="/i/therapist.jpg">
    </div>
    <div class="info-text">
      <b>Status:</b> online 1 hour ago
    </div>
  </div>
  <br>
  <div class="message-container">
    <div class="message-holder">
      {{#each messages}}
        {{>oppositemessage}}
      {{/each}}
    </div>
    <div class="message-input">
      <input class="message-text" type="text" placeholder="Send a message"/>
      <div class="send-button">Send</div>
    </div>
  </div>
</template>

<template name="oppositemessage">
  <div class="message {{#if who}}message-own{{else}}message-other{{/if}}">
    {{msg}}
  </div>
</template>
